:root {
    --holberton-red: #e0354b;
}

.Notifications{
    padding: 5;
    border: 1px dashed var(--holberton-red);
}
[data-notification-type='default'] {
    color: blue;
}
[data-notification-type='urgent'] {
 color: red;
}
