:root {
    --holberton-red: #e0354b;
}

/* .login {
  display:flex;
  margin-right: 10px;
} */

.login {
    display:flex;
    margin-right: 10px;
  }
.login input {
    margin-right: 10px;
}

.login label {
    margin-right: 5px;
}